<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<string>c97f7f</string>
		<string>c98483</string>
		<string>c98a87</string>
		<string>c98f8b</string>
		<string>c8948f</string>
		<string>c89a93</string>
		<string>c89f97</string>
		<string>c8a59b</string>
		<string>c8aa9f</string>
		<string>c8afa3</string>
		<string>c7b5a8</string>
		<string>c7baac</string>
		<string>c7bfb0</string>
		<string>c7c5b4</string>
		<string>c7cab8</string>
		<string>c7d0bc</string>
		<string>c6d5c0</string>
		<string>c6dac4</string>
		<string>c6e0c8</string>
		<string>c6e5cc</string>
		<string>c6e5d2</string>
		<string>c6e5d7</string>
	</array>
	<array>
		<string>c9c77f</string>
		<string>c9c784</string>
		<string>cac78a</string>
		<string>cac78f</string>
		<string>cac794</string>
		<string>cbc79a</string>
		<string>cbc79f</string>
		<string>cbc7a5</string>
		<string>ccc7aa</string>
		<string>ccc7af</string>
		<string>ccc6b5</string>
		<string>ccc6ba</string>
		<string>cdc6bf</string>
		<string>cdc6c5</string>
		<string>cdc6ca</string>
		<string>cec6d0</string>
		<string>cec6d5</string>
		<string>cec6da</string>
		<string>cfc6e0</string>
		<string>cfc6e5</string>
		<string>cfc6ea</string>
		<string>cfc6ef</string>
	</array>
	<array>
		<string>c97f9b</string>
		<string>c9839f</string>
		<string>c987a3</string>
		<string>c98ba7</string>
		<string>c88eab</string>
		<string>c892ae</string>
		<string>c896b2</string>
		<string>c89ab6</string>
		<string>c89eba</string>
		<string>c8a2be</string>
		<string>c7a5c2</string>
		<string>c7a9c6</string>
		<string>c7adca</string>
		<string>c7b1ce</string>
		<string>c7b5d2</string>
		<string>c7b9d5</string>
		<string>c6bcd9</string>
		<string>c6c0dd</string>
		<string>c6c4e1</string>
		<string>c6c8e5</string>
		<string>c6d8ea</string>
		<string>c6c8ef</string>
	</array>
	<array>
		<string>c97f9b</string>
		<string>c9839f</string>
		<string>c987a3</string>
		<string>c98ba7</string>
		<string>c88eab</string>
		<string>c892ae</string>
		<string>c896b2</string>
		<string>c89ab6</string>
		<string>c89eba</string>
		<string>c8a2be</string>
		<string>c7a5c2</string>
		<string>c7a9c6</string>
		<string>c7adca</string>
		<string>c7b1ce</string>
		<string>c7b5d2</string>
		<string>c7b9d5</string>
		<string>c6bcd9</string>
		<string>c6c0dd</string>
		<string>c6c4e1</string>
		<string>c6c8e5</string>
		<string>c6c8ea</string>
		<string>c6c8ef</string>
	</array>
</array>
</plist>
